# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

# Vscode

.vscode/

# Secuirity Keys

TravelPlanner/var.php

#user
DUMP/

# .gitignore Extension
/TravelPlanner/notes.txt
/HelloWorld/website1/Uploads
/HelloWorld/vars.php
/TravelPlanner/var.php
HelloWorld/website1/webDict.txt
/HelloWorld/notes.txt
